<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" android:versionCode="3" android:versionName="Storage Permission">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="26" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:largeHeap="true" android:label="Stotram" android:icon="@drawable/Icon"></application>
</manifest>